<div class="footer" *ngIf="clientFeatures">
    <p>© Restaurant Business LLC</p>
    <ul class="brand-icon">
        <li class="brand-icon"><a href="https://www.facebook.com/{{clientFeatures.facebook}}"><i class="fa fa-facebook"></i></a></li>

        <li class="brand-icon"><a href="https://foursquare.com/v/{{clientFeatures.foursquare}}"><i class="fa fa-foursquare"></i></a></li>

        <li class="brand-icon"><a href="https://www.yelp.com/{{clientFeatures.yelp}}"><i class="fa fa-yelp"></i></a></li>
    </ul>
</div>
<template ngbModalContainer></template>
