<div class="footer" *ngIf="clientFeatures">

    <span class="brand-icon"><a href="https://www.facebook.com/{{facebookUrl}}"><i class="fa fa-facebook-square" style="font-size:24px"></i></a></span>
    <span class="brand-icon"><a href="https://foursquare.com/v/{{foursquareUrl}}"><i class="fa fa-foursquare" style="font-size:24px"></i></a></span>
    <span class="brand-icon"><a href="https://www.yelp.com/{{yelpUrl}}"><i class="fa fa-yelp"></i></a></span>
    © Restaurant Business LLC
</div>
<template ngbModalContainer></template>
