

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myClientFeaturesLabel">Create or edit a Client Features</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientFeatures.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientFeatures.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_featureUrl">Feature Url</label>
            <input type="text" class="form-control" name="featureUrl" id="field_featureUrl"
                [(ngModel)]="clientFeatures.featureUrl"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="clientFeatures.price"
             />
        </div>

        <div class="form-group">
            <label for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="clientFeatures.client" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === clientFeatures.client?.id ? clientFeatures.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.clientName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_thirdPartyFeature">Third Party Feature</label>
            <select class="form-control" id="field_thirdPartyFeature" name="thirdPartyFeature" [(ngModel)]="clientFeatures.thirdPartyFeature" >
                <option [ngValue]="null"></option>
                <option [ngValue]="thirdPartyFeatureOption.id === clientFeatures.thirdPartyFeature?.id ? clientFeatures.thirdPartyFeature : thirdPartyFeatureOption" *ngFor="let thirdPartyFeatureOption of thirdpartyfeatures; trackBy: trackThirdPartyFeatureById">{{thirdPartyFeatureOption.featureName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
