
<div *ngIf="clientFeatures">
    <h2><span>Client Features</span> {{clientFeatures.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span>Feature Url</span></dt>
        <dd>
            <span>{{clientFeatures.featureUrl}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{clientFeatures.price}}</span>
        </dd>
        <dt><span>Client</span></dt>
        <dd>
            <div *ngIf="clientFeatures.client">
                <a [routerLink]="['client', clientFeatures.client?.id]">{{clientFeatures.client?.clientName}}</a>
            </div>
        </dd>
        <dt><span>Third Party Feature</span></dt>
        <dd>
            <div *ngIf="clientFeatures.thirdPartyFeature">
                <a [routerLink]="['third-party-feature', clientFeatures.thirdPartyFeature?.id]">{{clientFeatures.thirdPartyFeature?.featureName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-features/'+ clientFeatures.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
